@font-face {
    font-family: 'League Spartan';
    src: url('../fonts/league-spartan/leaguespartan-bold.eot');
    src: url('../fonts/league-spartan/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/league-spartan/leaguespartan-bold.woff2') format('woff2'),
    url('../fonts/league-spartan/leaguespartan-bold.woff') format('woff'),
    url('../fonts/league-spartan/leaguespartan-bold.ttf') format('truetype'),
    url('../fonts/league-spartan/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* -----------------------------------
 *
 * 1. OVERRIDE BASE DEFAULTS
 *
 * ----------------------------------- */

    * {
        margin-top: 0 !important;
        outline: 0 none !important;
    }
    body,html {
        font-size: 12px !important;
        font-family: "Lato", san-serif;
    }

    html {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
        -moz-box-sizing: inherit;
        -webkit-box-sizing: inherit;
    }

    @media screen and (min-width: 768px){
        body,html {
            font-size: 14px !important;
        }

    }

    @media screen and (min-width: 960px){
        body,html {
            font-size: 16px !important;
        }

    }

    label {
        cursor: pointer;
    }


/* -----------------------------------
 *
 * 2. OVERRIDE BOOTSTRAP DEFAULTS
 *
 * ----------------------------------- */

    /** 2.1 Typography **/

    h1,h2,h3,h4,h5,h6,
    .h1,.h2,.h3,.h4,.h5,.h6
    {
        font-size: inherit;
        margin-bottom: 1rem;
        font-weight: normal;
        font-family: "League Spartan", sans-serif;
    }

    h1, .h1 {
        font-size: 2rem;
    }

    h2, .h2 {
        font-size: 1.5rem;
    }

    h3, .h3 {
        font-size: 1.25rem;
    }

    h4, .h4 {
        font-size: 1rem;
    }

    h5, .h5 {
        font-size: 0.85rem;
    }

    h6, .h6 {
        font-size: 0.75rem;
    }

    .lead {
        font-size: 1.25rem;
        font-weight: 400;
    }

    small, .small {
        margin-bottom: 1.25rem;
    }

    /** 2.2 Links **/
    a {
        color: #000;
    }

    /** 2.3 Responsive Images **/
    .img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
        display: inline-block;
    }

    /** 2.4 Grid **/
    .col-centered {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    /** 2.5 Alerts **/
    .alert {
        margin: 2.5rem;
        -webkit-box-shadow: 4px 17px 22px -12px rgba(0,0,0,0.29);
        -moz-box-shadow: 4px 17px 22px -12px rgba(0,0,0,0.29);
        box-shadow: 4px 17px 22px -12px rgba(0,0,0,0.29);
    }

    .alert.alert-success {
        color: #fff;
        background-color: #4a7711;
        border-color: #4a7711;
    }

    .alert.alert-danger {
        color: #fff;
        background-color: #B52F40;
        border-color: #B52F40;
    }

    .list-group {
        margin-bottom: 4rem;
        padding-left: 10px;
    }
    .list-group .list-group-item{
        text-align: left;
        margin-bottom: 1.25rem;
        -webkit-box-shadow: 4px 17px 22px -12px rgba(0,0,0,0.29);
        -moz-box-shadow: 4px 17px 22px -12px rgba(0,0,0,0.29);
        box-shadow: 4px 17px 22px -12px rgba(0,0,0,0.29);
    }

    .list-group .list-group-item:last-child {
        margin-bottom: 0;
    }

    .list-group.list-group-large .list-group-item {
        padding: 2rem;
    }

    .list-group.list-group-large .list-group-item.active {
        background-color: #ffff3e;
        border-color: #ffff3e;
        color: #000;
    }

    .list-group.list-group-large .list-group-item input[type="text"] {
        width: 100%;
        font-family: "League Spartan", sans-serif;
        padding: 0.625rem;
        display: none;
    }

    .list-group.list-group-large .list-group-item.active input[type="text"] {
        display: block;
    }

    .list-group.list-group-large .list-group-item *:last-child {
        margin-bottom: 0;
    }

    .list-group.list-group-large .list-group-item label {
        font-size: 1.25rem;
        line-height: 1.5;
    }

    .list-group.list-group-large .list-group-item .checkbox label {
        padding-left: 10px;
        line-height: 32px;
    }

    .list-group.list-group-large .list-group-item .radio label:before,
    .list-group.list-group-large .list-group-item .radio input[type="radio"] {
        width: 22px;
        height: 22px;
        margin-left: -30px;
        outline: none !important;
    }

    .list-group.list-group-large .list-group-item .radio label:after {
        width: 12px;
        height: 12px;
        left: -5.5px;
        top: 5px;
        margin-left: -20px;
    }









/* -----------------------------------
 *
 * 3. TYPOGRAPHY
 *
 * ----------------------------------- */
    .typography-black-weight {
        font-weight: 900 !important;
    }

    .typography-bold-weight {
        font-weight: 700 !important;
    }

    .typography-semi-bold-weight {
        font-weight: 500 !important;
    }

    .typography-normal-weight {
        font-weight: 400 !important;
    }

    .typography-light-weight {
        font-weight: 300 !important;
    }

    .typography-light-weight {
        font-weight: 100 !important;
    }

    .typography-spacious-heading {
        line-height: 2rem !important;
    }

    .spacious-heading {
        line-height: 2rem;
    }

    .typography-highlight {
        background-color: #ffff3e;
        font-style: normal;
        padding: 4px 2px;
        color: #000 !important;
    }

    em.typography-highlight {
        padding: 5px 5px 0;
    }


/* -----------------------------------
 *
 * 4. BUTTONS
 *
 * ----------------------------------- */

    .button {
        padding: 0.75rem;
        background-color: #ffff3e;
        font-family: "League Spartan", sans-serif;
        font-size: 1.25rem;
        border: none;
        outline: 0 none;
    }

    .button.button-secondary {
        background-color: #000;
        color: #fff;
    }

    .button:hover {
        background-color: #000;
        color: #fff;
    }

    .button.full {
        width: 100%;
    }


/* -----------------------------------
 *
 * 5. HORIZONTAL RULES (<hr>)
 *
 * ----------------------------------- */

    .hr-grey {
        border-top: 1px solid #6c6c6c;
        border-bottom: 1px solid #424242;
        margin-bottom: 0.75rem;
    }



/* -----------------------------------
 *
 * 5. Overrides (Helper classes to override existing css with important overrides to ensure that styles suit designs)
 *
 * ----------------------------------- */

    .overrides-no-padding-top {
        padding-top: 0 !important;
    }

    .overrides-no-padding-bottom {
        padding-bottom: 0 !important;
    }

    .overrides-no-padding {
        padding: 0 !important;
    }

/* -----------------------------------
 *
 * 6. SECTION
 *
 * ----------------------------------- */

    .section {
        padding: 5rem 0 2.5rem;
        background: url(../img/grainy-texture.png) repeat center center;
        position: relative;
        z-index: 1000;
    }

    .section:before {
        position: absolute;
        background: url(../img/tear.png) repeat-x top left;
        height: 31.5px;
        width: 100%;
        left: 0;
        top: 0;
        background-size: auto 31.5px;
        content: "";
    }

    .section.section-no-tear:before {
        display: none;
        position: static;
    }

    .section-header *:first-child:before {
        content: "#"
    }

    .section-header *:last-child:after {
        content: " {"
    }

    .section-body .section-body-inner {
        padding: 2.5rem;

    }

    .section-body:after {
        content: "}";
        margin-bottom: 1rem;
        font-weight: normal;
        font-family: "League Spartan", sans-serif;
        font-size: 2rem;
        margin-left: 10px;
    }

    .section-body-inner.section-body-inner-no-brace:after {
        display: none;
        content: "";
    }

    @media screen and (min-width: 768px){
        .section {
            padding: 5rem 0 4.125rem;
        }

        .section-body:after {
            margin-left: 0;
        }
    }



/* -----------------------------------
 *
 * 7. BLOCK GRID EQUIVALENT FOUND IN FOUNDATION's BLOCK GRID
 *
 * ----------------------------------- */

    [class*="block-grid-"] {
        display: block;
        margin: -10px;
        padding: 0;
    }
    [class*="block-grid-"]:before,
    [class*="block-grid-"]:after {
        content: " ";
        display: table;
    }
    [class*="block-grid-"]:after {
        clear: both;
    }
    .block-grid-item {
        display: inline;
        margin: 0;
        padding: 10px;
        height: auto;
        float: left;
        list-style: none;
    }
    .block-grid-xs-1 > .block-grid-item {
        width: 100%;
    }
    .block-grid-xs-1 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-xs-1 > .block-grid-item:nth-of-type(1n+1) {
        clear: both;
    }
    .block-grid-xs-2 > .block-grid-item {
        width: 50%;
    }
    .block-grid-xs-2 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-xs-2 > .block-grid-item:nth-of-type(2n+1) {
        clear: both;
    }
    .block-grid-xs-3 > .block-grid-item {
        width: 33.333333333333336%;
    }
    .block-grid-xs-3 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-xs-3 > .block-grid-item:nth-of-type(3n+1) {
        clear: both;
    }
    .block-grid-xs-4 > .block-grid-item {
        width: 25%;
    }
    .block-grid-xs-4 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-xs-4 > .block-grid-item:nth-of-type(4n+1) {
        clear: both;
    }
    .block-grid-xs-5 > .block-grid-item {
        width: 20%;
    }
    .block-grid-xs-5 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-xs-5 > .block-grid-item:nth-of-type(5n+1) {
        clear: both;
    }
    .block-grid-xs-6 > .block-grid-item {
        width: 16.666666666666668%;
    }
    .block-grid-xs-6 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-xs-6 > .block-grid-item:nth-of-type(6n+1) {
        clear: both;
    }
    .block-grid-xs-7 > .block-grid-item {
        width: 14.285714285714286%;
    }
    .block-grid-xs-7 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-xs-7 > .block-grid-item:nth-of-type(7n+1) {
        clear: both;
    }
    .block-grid-xs-8 > .block-grid-item {
        width: 12.5%;
    }
    .block-grid-xs-8 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-xs-8 > .block-grid-item:nth-of-type(8n+1) {
        clear: both;
    }
    .block-grid-xs-9 > .block-grid-item {
        width: 11.11111111111111%;
    }
    .block-grid-xs-9 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-xs-9 > .block-grid-item:nth-of-type(9n+1) {
        clear: both;
    }
    .block-grid-xs-10 > .block-grid-item {
        width: 10%;
    }
    .block-grid-xs-10 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-xs-10 > .block-grid-item:nth-of-type(10n+1) {
        clear: both;
    }
    .block-grid-xs-11 > .block-grid-item {
        width: 9.090909090909092%;
    }
    .block-grid-xs-11 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-xs-11 > .block-grid-item:nth-of-type(11n+1) {
        clear: both;
    }
    .block-grid-xs-12 > .block-grid-item {
        width: 8.333333333333334%;
    }
    .block-grid-xs-12 > .block-grid-item:nth-of-type(n) {
        clear: none;
    }
    .block-grid-xs-12 > .block-grid-item:nth-of-type(12n+1) {
        clear: both;
    }
    @media (min-width: 420px) {
        .block-grid-sm-1 > .block-grid-item {
            width: 100%;
        }
        .block-grid-sm-1 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-sm-1 > .block-grid-item:nth-of-type(1n+1) {
            clear: both;
        }
        .block-grid-sm-2 > .block-grid-item {
            width: 50%;
        }
        .block-grid-sm-2 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-sm-2 > .block-grid-item:nth-of-type(2n+1) {
            clear: both;
        }
        .block-grid-sm-3 > .block-grid-item {
            width: 33.333333333333336%;
        }
        .block-grid-sm-3 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-sm-3 > .block-grid-item:nth-of-type(3n+1) {
            clear: both;
        }
        .block-grid-sm-4 > .block-grid-item {
            width: 25%;
        }
        .block-grid-sm-4 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-sm-4 > .block-grid-item:nth-of-type(4n+1) {
            clear: both;
        }
        .block-grid-sm-5 > .block-grid-item {
            width: 20%;
        }
        .block-grid-sm-5 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-sm-5 > .block-grid-item:nth-of-type(5n+1) {
            clear: both;
        }
        .block-grid-sm-6 > .block-grid-item {
            width: 16.666666666666668%;
        }
        .block-grid-sm-6 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-sm-6 > .block-grid-item:nth-of-type(6n+1) {
            clear: both;
        }
        .block-grid-sm-7 > .block-grid-item {
            width: 14.285714285714286%;
        }
        .block-grid-sm-7 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-sm-7 > .block-grid-item:nth-of-type(7n+1) {
            clear: both;
        }
        .block-grid-sm-8 > .block-grid-item {
            width: 12.5%;
        }
        .block-grid-sm-8 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-sm-8 > .block-grid-item:nth-of-type(8n+1) {
            clear: both;
        }
        .block-grid-sm-9 > .block-grid-item {
            width: 11.11111111111111%;
        }
        .block-grid-sm-9 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-sm-9 > .block-grid-item:nth-of-type(9n+1) {
            clear: both;
        }
        .block-grid-sm-10 > .block-grid-item {
            width: 10%;
        }
        .block-grid-sm-10 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-sm-10 > .block-grid-item:nth-of-type(10n+1) {
            clear: both;
        }
        .block-grid-sm-11 > .block-grid-item {
            width: 9.090909090909092%;
        }
        .block-grid-sm-11 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-sm-11 > .block-grid-item:nth-of-type(11n+1) {
            clear: both;
        }
        .block-grid-sm-12 > .block-grid-item {
            width: 8.333333333333334%;
        }
        .block-grid-sm-12 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-sm-12 > .block-grid-item:nth-of-type(12n+1) {
            clear: both;
        }
    }
    @media (min-width: 768px) {
        .block-grid-md-1 > .block-grid-item {
            width: 100%;
        }
        .block-grid-md-1 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-md-1 > .block-grid-item:nth-of-type(1n+1) {
            clear: both;
        }
        .block-grid-md-2 > .block-grid-item {
            width: 50%;
        }
        .block-grid-md-2 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-md-2 > .block-grid-item:nth-of-type(2n+1) {
            clear: both;
        }
        .block-grid-md-3 > .block-grid-item {
            width: 33.333333333333336%;
        }
        .block-grid-md-3 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-md-3 > .block-grid-item:nth-of-type(3n+1) {
            clear: both;
        }
        .block-grid-md-4 > .block-grid-item {
            width: 25%;
        }
        .block-grid-md-4 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-md-4 > .block-grid-item:nth-of-type(4n+1) {
            clear: both;
        }
        .block-grid-md-5 > .block-grid-item {
            width: 20%;
        }
        .block-grid-md-5 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-md-5 > .block-grid-item:nth-of-type(5n+1) {
            clear: both;
        }
        .block-grid-md-6 > .block-grid-item {
            width: 16.666666666666668%;
        }
        .block-grid-md-6 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-md-6 > .block-grid-item:nth-of-type(6n+1) {
            clear: both;
        }
        .block-grid-md-7 > .block-grid-item {
            width: 14.285714285714286%;
        }
        .block-grid-md-7 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-md-7 > .block-grid-item:nth-of-type(7n+1) {
            clear: both;
        }
        .block-grid-md-8 > .block-grid-item {
            width: 12.5%;
        }
        .block-grid-md-8 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-md-8 > .block-grid-item:nth-of-type(8n+1) {
            clear: both;
        }
        .block-grid-md-9 > .block-grid-item {
            width: 11.11111111111111%;
        }
        .block-grid-md-9 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-md-9 > .block-grid-item:nth-of-type(9n+1) {
            clear: both;
        }
        .block-grid-md-10 > .block-grid-item {
            width: 10%;
        }
        .block-grid-md-10 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-md-10 > .block-grid-item:nth-of-type(10n+1) {
            clear: both;
        }
        .block-grid-md-11 > .block-grid-item {
            width: 9.090909090909092%;
        }
        .block-grid-md-11 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-md-11 > .block-grid-item:nth-of-type(11n+1) {
            clear: both;
        }
        .block-grid-md-12 > .block-grid-item {
            width: 8.333333333333334%;
        }
        .block-grid-md-12 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-md-12 > .block-grid-item:nth-of-type(12n+1) {
            clear: both;
        }
    }
    @media (min-width: 1180px) {
        .block-grid-lg-1 > .block-grid-item {
            width: 100%;
        }
        .block-grid-lg-1 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-lg-1 > .block-grid-item:nth-of-type(1n+1) {
            clear: both;
        }
        .block-grid-lg-2 > .block-grid-item {
            width: 50%;
        }
        .block-grid-lg-2 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-lg-2 > .block-grid-item:nth-of-type(2n+1) {
            clear: both;
        }
        .block-grid-lg-3 > .block-grid-item {
            width: 33.333333333333336%;
        }
        .block-grid-lg-3 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-lg-3 > .block-grid-item:nth-of-type(3n+1) {
            clear: both;
        }
        .block-grid-lg-4 > .block-grid-item {
            width: 25%;
        }
        .block-grid-lg-4 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-lg-4 > .block-grid-item:nth-of-type(4n+1) {
            clear: both;
        }
        .block-grid-lg-5 > .block-grid-item {
            width: 20%;
        }
        .block-grid-lg-5 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-lg-5 > .block-grid-item:nth-of-type(5n+1) {
            clear: both;
        }
        .block-grid-lg-6 > .block-grid-item {
            width: 16.666666666666668%;
        }
        .block-grid-lg-6 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-lg-6 > .block-grid-item:nth-of-type(6n+1) {
            clear: both;
        }
        .block-grid-lg-7 > .block-grid-item {
            width: 14.285714285714286%;
        }
        .block-grid-lg-7 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-lg-7 > .block-grid-item:nth-of-type(7n+1) {
            clear: both;
        }
        .block-grid-lg-8 > .block-grid-item {
            width: 12.5%;
        }
        .block-grid-lg-8 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-lg-8 > .block-grid-item:nth-of-type(8n+1) {
            clear: both;
        }
        .block-grid-lg-9 > .block-grid-item {
            width: 11.11111111111111%;
        }
        .block-grid-lg-9 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-lg-9 > .block-grid-item:nth-of-type(9n+1) {
            clear: both;
        }
        .block-grid-lg-10 > .block-grid-item {
            width: 10%;
        }
        .block-grid-lg-10 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-lg-10 > .block-grid-item:nth-of-type(10n+1) {
            clear: both;
        }
        .block-grid-lg-11 > .block-grid-item {
            width: 9.090909090909092%;
        }
        .block-grid-lg-11 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-lg-11 > .block-grid-item:nth-of-type(11n+1) {
            clear: both;
        }
        .block-grid-lg-12 > .block-grid-item {
            width: 8.333333333333334%;
        }
        .block-grid-lg-12 > .block-grid-item:nth-of-type(n) {
            clear: none;
        }
        .block-grid-lg-12 > .block-grid-item:nth-of-type(12n+1) {
            clear: both;
        }
    }



/* -----------------------------------
 *
 * 8. AFEATURE
 *
 * ----------------------------------- */

    .afeature {
        width: 100%;
        background: url(../img/grainy-texture.png) repeat center center;
    }

    .afeature .afeature-content {
        background-size: cover;
    }

    .afeature .afeature-content .afeature-content-inner > div {
        margin: 0 auto 1.25rem;
        float: none;
        text-align: center;
    }

    @media screen and (min-width: 768px){
        .afeature {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: -1;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 959px){

        .afeature .afeature-content {
            height: 296px;
        }

        body.afeature-paralax {
            padding-top: 296px;
        }
    }

    @media screen and (min-width: 960px){
        .afeature {
        }

        .afeature .afeature-content {
            height: 230px;
        }

        .afeature .afeature-content .afeature-content-inner {
            height: inherit;
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
        }

        .afeature .afeature-content .afeature-content-inner > div {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            text-align: left;
            margin: 0;
            float: left;
        }

        body.afeature-paralax {
            padding-top: 230px;
        }
    }

    @media screen and (min-width: 960px) and (max-width: 1179px){
        .afeature .container {
            width: 100%;
        }
    }



/* -----------------------------------
 *
 * 10. QUESTIONS AND ANSWERS
 *
 * ----------------------------------- */
    .questions-list {
        margin-bottom: 0;
    }

    .questions-list > .question-item {
        display: none;
    }

    .questions-list > .question-item.active {
        display: block;
    }

    .questions-list > .question-item .alert {
        display: none;
    }

    .questions-list > .question-item .alert.active {
        display: block;
    }

    .questions-list > .question-item .next-question {
        display: none;
    }

    .questions-list > .question-item .next-question.active {
        display: inline-block;
    }

    .question-text {
        margin-bottom: 2.5rem;
    }

    .answer-choices {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .answer-choice-item.answer-choice-item-correct {
        background-color: #4a7711;
        color: #fff;
    }

    .answer-choice-item.answer-choice-item-incorrect {
        background-color: #B52F40;
        color: #fff;
    }

/* -----------------------------------
 *
 * 10. QUESTIONS CORRECT INDICATOR
 *
 * ----------------------------------- */

    .questions-correct-indicator {
        background-color: #ffff3e;
        border-color: #ffff3e;
        color: #000;
        -webkit-box-shadow: 4px 17px 22px -12px rgba(0,0,0,0.29);
        -moz-box-shadow: 4px 17px 22px -12px rgba(0,0,0,0.29);
        box-shadow: 4px 17px 22px -12px rgba(0,0,0,0.29);
        padding: 1.25rem;
    }

    .questions-correct-indicator > *:last-child {
        margin-bottom: 0
    }

/* -----------------------------------
 *
 * 11. SITE FOOTER
 *
 * ----------------------------------- */

    .site-footer {
        text-align: center;
        padding: 2.5rem 0;
        background-color: #232323;
        font-size: 0.75rem;
    }

    .site-footer * {
        color: #9c9fa2;
    }

    .copyright {
        font-family: "League Spartan", sans-serif;
    }

    .site-footer .site-footer-nav > ul > li > a {
        color: #fff;
    }

    /*** 10.1 Small Media Query **/
    @media screen and (max-width: 767px){

    }

    /*** 10.2 Medium Media Query **/
    @media screen and (min-width: 768px){
        .site-footer {
            text-align: left;
        }
    }